.home-container {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .home-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .home-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 75px;
      border: 1px solid black;

      .home-nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-width: 199px;
        height: 100%;
        border-right: 1px solid black;
        background-color: #ededed;

        img {
          width: 90%;
          object-fit: contain;
          object-position: center;
        }
      }

      .home-nav-menu {
        overflow: auto;
        display: flex;
        max-width: 100%;

        .home-menu-language {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 100px;
          border-left: 1px solid black;
          background-color: #9f9f9f;
        }

        .home-menu-logout {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 200px;
          border-left: 1px solid black;
          background-color: #9f9f9f;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    .home-data {
      overflow: scroll;
      display: flex;
      flex: 1;

      .home-data-nav {
        border: 1px solid black;
        border-top: none;
        min-width: 200px;
        height: 100%;

        .home-nav-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2rem 0;
          max-width: 100%;
          font-size: 14px;

          .home-nav-img {
            overflow: hidden;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 1px solid black;

            img {
              width: 100%;
              object-fit: contain;
              object-position: center;
            }
          }

          .home-nav-text {
            margin-top: 1rem;
            text-align: center;
          }

          .home-nav-page {
            margin-top: 3rem;
            width: 100%;
            height: 40px;
            border-top: 1px solid black;

            .home-page-menu {
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
              height: 100%;
              width: 100%;
              border-bottom: 1px solid black;
              background-color: #d9d9d9;
            }

            .home-page-menu.active {
              background-color: #ff845f;
            }
          }
        }
      }

      .home-data-content {
        overflow: scroll;
        width: 100%;
        max-height: none;
        padding: 3rem;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        background-color: #d9d9d9;

        .home-content-container {
          display: grid;
          grid-template-rows: 1fr;
          min-height: 100%;
          max-height: none;
          background-color: white;
          border-radius: 20px;
        }
      }
    }
  }
}
