.his-container {
  width: 100%;
  height: auto;
  padding: 3rem 3rem;

  .his-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    .his-title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 1rem 0;

      p {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}
