@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.work-container {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  padding: 3rem 3rem;
  white-space: nowrap;

  h1 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
  }

  .work-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    .work-title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 1rem 0;

      p {
        font-size: 30px;
        font-weight: 500;
      }
    }

    .work-infomation {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 300px;
      max-height: none;
      gap: 10px;

      .work-infomation-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px 3rem;
        border-radius: 20px;
        border: 1px solid black;

        .work-box-header {
          margin-top: 15px;
          font-weight: 500;
        }

        .work-box-text {
          display: flex;
          flex-direction: column;
          flex: 1;

          .work-text-data {
            display: flex;
            flex: 1;

            .work-data-text {
              overflow: hidden;
              display: flex;
              align-items: center;
              width: 50%;

              p {
                overflow: hidden;
                min-width: 150px;
                font-weight: 500;
              }

              a {
                overflow: hidden;
                min-width: 150px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }

    .work-form {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      margin-top: 50px;
      gap: 50px;

      .work-form-submit {
        display: flex;
        justify-content: center;
        flex: 1;

        button {
          @include button;
          border-radius: 5px;
          width: 500px;
          height: 40px;
          background-color: #69d787;
          transition: all 0.2s ease;
        }

        button:hover {
          background-color: gray;
          transition: all 0.2s ease;
        }
      }
    }
  }
}
