.set-container {
  width: 100%;
  height: auto;
  padding: 3rem 3rem;

  .set-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    .set-title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 1rem 0;

      p {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}

.set-main {
  display: flex;
  background-color: #DEDEDE;
  width: 90%;
  height: 90%;
  flex-direction: column;
  align-self: center;
  border-radius: 15px;
  border-style: solid;
}

.ttable {
  border: 1px solid;
  border-radius: 15px;
}